<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header text-primary h1" th:text="${titulo}"></div>
        <div class="card-body">
            <form class="form-inline" th:action="@{/factura/rango}" method="get">
                <div class="input-group">
                    <input type="date" class="form-control" name="startDate"
                           th:value="${startDate != null ? #dates.format(startDate, 'yyyy-MM-dd') : ''}" required>
                    <input type="date" class="form-control" name="endDate"
                           th:value="${endDate != null ? #dates.format(endDate, 'yyyy-MM-dd') : ''}" required>
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </form>
            <div th:if="${facturas.content.size() > 0}">
                <table class="table table-striped table-bordered mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="factura : ${facturas.content}">
                        <td th:text="${factura.id}"></td>
                        <td th:text="${factura.cliente.nombre}"></td>
                        <td th:text="${#dates.format(factura.createAt, 'dd-MM-yyyy')}"></td>
                        <td th:text="${factura.total}"></td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="btn btn-primary btn-xs" th:href="@{'/factura/ver/' + ${factura.id}}">Ver Detalles</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex align-items-center mt-3">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/factura/rango/pdf(startDate=' + ${#dates.format(startDate, 'yyyy-MM-dd')} + ', endDate=' + ${#dates.format(endDate, 'yyyy-MM-dd')} + ')'}" class="btn btn-outline-primary">Exportar a PDF</a>
                    <div class="ms-3">
                        <p class="mb-0 text-primary">
                            <strong th:text="'Cantidad de facturas encontradas: ' + ${cantidadFacturas}"></strong>
                        </p>
                        <p class="mb-0 text-primary">
                            <strong th:text="'Total de todas las facturas: $' + ${totalFacturas}"></strong>
                        </p>
                    </div>
                </div>
                <div class="mt-3">
                    <nav th:if="${page.totalPaginas > 1}" th:replace="paginator-nav :: paginator(page=${page}, startDate=${#dates.format(startDate, 'yyyy-MM-dd')}, endDate=${#dates.format(endDate, 'yyyy-MM-dd')})"></nav>
                </div>
            </div>
            <div th:if="${cantidadFacturas == 0}" class="mt-3">
                <p class="text-warning">No se encontraron facturas en el rango de fechas seleccionado.</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
